@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;


.banner {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--background-image) !important;


    p {
        font-family: "Merriweather-Regular" !important;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
    }
}