@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;

.title {
    width: fit-content;
    max-width: 100%; 
    padding: 2%;
    margin-top: 6%;
    border-radius: 20px;
    background: $white;
    filter: drop-shadow(0 4px 4px var(--primary-color));

    .dark {
        color: var(--primary-color);
        text-align: center;
        font-family: "Merriweather-Bold" !important;
        font-size: clamp(32px, 5vw, 58px); 
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
        word-wrap: break-word;
    }

    @media (max-width: 768px) {
        padding: 5%;
        margin-top: 10%;
    }
}
