@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;

.title {
    width: fit-content;
    padding: 2% 2%;
    margin-top: 6%;
    border-radius: 20px;
    background: $white;
    filter: drop-shadow(0 4px 4px var(--primary-color));

    .dark {
        color: var(--primary-color);
        text-align: center;
        font-family: "Merriweather-Bold" !important;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
}