@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;



.banner {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--banner-image);

    #para {
        background-color: rgba(var(--primary-color-rgb), 0.70) !important; // ✅ Works!
        border-radius: 20px;
        width: fit-content;
        padding-inline: 2%;

        #h1 {
            font-family: "Merriweather-Regular" !important;
        }
    }

}