@use "../../style/variables.scss" as *;
@use "../../style/fonts.scss" as *;

* {
  font-family: "Merriweather-Regular";
}

.aboutpage {
  body {
    margin: 0% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/background/aboutBG.svg");
  }

  .banner {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/banner/aboutBanner.svg");
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    .para {
      font-family: "Merriweather-Light" !important;
      font-weight: 400;
      line-height: 150%;
      /* 30px */
    }
  }

  .about {
    h5 {
      font-family: "Merriweather-Regular" !important;
      color: #8f6e43;
    }

    h1 {
      font-family: "Merriweather-SemiBold" !important;
      line-height: 65px;
      color: #8f6e43;
    }

    .para {
      font-family: "Merriweather-Light" !important;
      line-height: 35px;
    }
  }

  .partnerships {
    padding-inline: 13%;
    padding-bottom: 2%;
    background-color: #8f6e43;

    .title {
      width: max-content;

      span {
        font-size: 45px;
        color: white;
      }
    }

    .para {
      font-size: 22px !important;
      color: white;
      font-family: "Merriweather-Light" !important;
      line-height: 30px;
    }

    .featuretteDivider {
      opacity: 1;
      color: white !important;
      height: 3px !important;
      width: 145% !important;
    }
  }

  .values {
    padding-inline: 13%;

    .title {
      width: max-content;

      span {
        font-family: "Merriweather-SemiBold";
        font-size: 45px;
        color: #8f6e43;
      }
    }

    .heading {
      font-family: "Merriweather-Light" !important;
    }
  }

  .team {
    padding-inline: 13%;

    .title {
      width: max-content;

      span {
        font-family: "Merriweather-SemiBold";
        font-size: 45px;
        color: #8f6e43;
      }
    }
  }

  .approach {
    padding-block: 4%;
    background-color: #8f6e43;

    h1 {
      font-family: "Merriweather-SemiBold" !important;
      line-height: 50px;
    }

    p {
      font-family: "Merriweather-Light" !important;
      line-height: 35px;
    }

    p,
    h1 {
      color: white;
    }
  }

  // Mobiles
  @media (max-width: 767.98px) {
    overflow-x: hidden;

    // Banner
    .banner {
      height: 45vh;
      background-size: cover;

      .para {
        display: none;
      }
    }

    // About
    .about {
      padding-inline: 8% !important;

      h5 {
        margin-bottom: -2% !important;
        font-size: large;
        display: block !important;
      }

      h1 {
        font-size: xx-large;
        line-height: 40px;
      }

      .para {
        line-height: 24px;
        font-size: medium;
      }

      #images {
        width: 100% !important;
        height: auto !important;
        margin: 0 auto !important;
        align-items: center;
      }
    }

    .partnerships {
      padding-inline: 0%;
      padding-bottom: 2%;
      align-items: start !important;

      .title {
        text-align: start !important;
        padding-inline: 8% !important;

        span {
          font-size: xx-large !important;
        }
      }

      .para {
        text-align: start !important;
        font-size: medium !important;
        line-height: 24px;
        margin-block: 0% !important;
        padding-inline: 8% !important;
      }

      .featuretteDivider {
        width: 100% !important;
      }
    }

    // Values
    .values {
      padding-block: 0% !important;

      .title {
        border-bottom: #8f6e43 2px solid;
        margin-top: 0% !important;

        span {
          font-size: xx-large !important;
        }
      }

      #row {
        padding-block: 0% !important;

        #image {
          width: 55% !important;
        }

        .heading {
          font-size: larger !important;
        }

        #value {
          padding-bottom: 12% !important;
        }
      }
    }

    // Team
    .team {
      margin: auto 0;

      .title {
        border-bottom: #8f6e43 2px solid;

        span {
          font-size: xx-large !important;
        }
      }
    }

    // Approach
    .approach {
      padding-block: 0%;
      background-color: #8f6e43;
      margin-bottom: 0% !important;

      img {
        width: 100% !important;
        height: auto !important;
        margin: 0 auto;
      }

      h1 {
        padding-inline: 8% !important;
        font-family: "Merriweather-SemiBold" !important;
        font-size: xx-large;
        line-height: 50px;
      }

      p {
        padding-inline: 8% !important;
        line-height: 24px;
        font-size: medium;
      }

      p,
      h1 {
        color: white;
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (min-width: 767.98px) and (max-width: 991.98px) {
    // Banner
    .banner {
      height: 25vh;
      background-size: contain;

      .para {
        display: none;
      }
    }

    // About
    .about {
      margin-block: 0% !important;

      #row {
        margin-inline: -10%;

        h5 {
          margin-bottom: -4% !important;
          font-size: medium;
          display: block !important;
        }

        h1 {
          font-size: x-large;
          line-height: 30px;
        }

        .para {
          line-height: 24px;
          font-size: medium;
        }

        #images {
          width: 100% !important;
          height: auto !important;
          margin: 0 auto !important;
          align-items: center;
        }
      }
    }

    .partnerships {
      padding-inline: 6%;
      padding-bottom: 2%;
      align-items: start !important;

      .title {
        text-align: start !important;

        span {
          font-size: 40px !important;
        }
      }

      .para {
        text-align: start !important;
        font-size: medium !important;
        line-height: 24px;
        margin-block: 0% !important;
      }

      .featuretteDivider {
        width: 100% !important;
      }
    }

    // Values
    .values {
      padding-block: 0% !important;
      padding-inline: 4% !important;

      .title {
        border-bottom: #8f6e43 2px solid;
        margin-top: 0% !important;

        span {
          font-size: 40px;
        }
      }

      #row {
        padding-block: 0% !important;

        #image {
          width: 75% !important;
        }

        .heading {
          font-size: larger !important;
        }

        #value {
          padding-bottom: 12% !important;
        }
      }
    }

    // Team
    .team {
      margin: auto 0;

      .title {
        border-bottom: #8f6e43 2px solid;

        span {
          font-size: xx-large !important;
        }
      }
    }

    // Approach
    .approach {
      padding-block: 0%;
      background-color: #8f6e43;
      margin-bottom: 0% !important;

      #row {
        margin-inline: -17%;

        img {
          width: 100% !important;
          height: auto !important;
          margin: 0 auto;
        }

        h1 {
          font-family: "Merriweather-SemiBold" !important;
          font-size: x-large;
          line-height: 50px;
        }

        p {
          line-height: 24px;
          font-size: medium;
        }

        p,
        h1 {
          color: white;
        }
      }
    }
  }
}
