@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;

.arabiTalk {

    // information
    .info {
        h5 {
            font-family: "Merriweather-Regular" !important;
            color: #0D5071;
        }

        h1 {
            font-family: "Merriweather-Bold" !important;
            font-size: 50px;
            line-height: 50px;
            color: #0D5071;
        }

        p {
            font-family: "Merriweather-Light" !important;
            line-height: 35px;
        }
    }

    //sessions
    .sessions {
        padding-inline: 13%;

        .subTitle {
            width: max-content;

            h1 {
                font-family: "Merriweather-SemiBold";
                color: #0D5071;
                font-size: 50px;
                border-bottom: #0D5071 3px solid;
            }
        }

        #card {
            width: 65% !important;
            height: 599px !important;
            padding-block: 0% 0% !important;
            padding-inline: 8% !important;
            border-radius: 20px !important;
            border-color: #0D5071 !important;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
            transition: width 0.3s ease, height 0.3s ease;

            hr {
                opacity: 0.5;
                height: 0.5%;
            }

            h1 {
                font-family: "Merriweather-Regular" !important;
                font-size: 60px;
                padding-block: 7%;
            }

            #black {
                margin-block: 1%;
                color: black;
            }

            #yellow {
                margin-block: 1%;
                color: #FFA200;
            }

            h4 {
                font-family: "Merriweather-Light" !important
            }

            a {
                background-color: #FFA200;
                font-size: 22px;
                font-family: 'Merriweather-Light';
                padding-block: 4%;
                border-radius: 10px;
                transition: width 0.3s ease, height 0.3s ease;
            }

            a:hover {
                background-color: white !important;
                color: #FFA200 !important;
                border: #FFA200 2px solid;
            }
        }

        #card:hover {
            width: 75% !important;
            height: 620px !important;

            hr {
                opacity: 1;
                height: 0.5%;
            }

            h1 {
                font-family: "Merriweather-Regular" !important;
                font-size: 62px;
                padding-block: 7%;
            }

            #black {
                margin-block: 1%;
                color: black;
            }

            #yellow {
                margin-block: 1%;
                color: #FFA200;
            }

            h4 {
                font-family: "Merriweather-Light" !important
            }

            a {
                background-color: #FFA200;
                font-size: 22px;
                font-family: 'Merriweather-Light';
                padding-block: 5%;
                border-radius: 10px;
            }
        }
    }

}