@font-face {
  font-family: "Inter_Regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url("../assets/fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("../assets/fonts/Merriweather-Light.ttf");
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("../assets/fonts/Merriweather_24pt-Bold.ttf");
}
@font-face {
  font-family: "Merriweather-SemiBold";
  src: url("../assets/fonts/Merriweather_24pt-SemiBold.ttf");
}
* {
  font-family: "Merriweather-Regular";
}

.aboutpage body {
  margin: 0% !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/background/aboutBG.svg");
}
.aboutpage .banner {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/images/banner/aboutBanner.svg");
}
.aboutpage .banner p {
  font-family: "Merriweather-Light" !important;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
}
.aboutpage .about h5 {
  font-family: "Merriweather-Regular" !important;
  color: #8f6e43;
}
.aboutpage .about h1 {
  font-family: "Merriweather-SemiBold" !important;
  line-height: 50px;
  color: #8f6e43;
}
.aboutpage .about p {
  font-family: "Merriweather-Light" !important;
  line-height: 35px;
}
.aboutpage .partnerships {
  padding-inline: 13%;
  padding-bottom: 2%;
  background-color: #8f6e43;
}
.aboutpage .partnerships .title {
  width: -moz-max-content;
  width: max-content;
}
.aboutpage .partnerships .title span {
  font-size: 45px;
  color: white;
}
.aboutpage .partnerships p {
  font-size: 22px !important;
  color: white;
  font-family: "Merriweather-Light" !important;
  line-height: 30px;
}
.aboutpage .partnerships .featurette-divider {
  opacity: 1;
  color: white !important;
  height: 3px !important;
  width: 145% !important;
}
.aboutpage .featurette-divider {
  opacity: 1;
  color: #8f6e43 !important;
  height: 2px !important;
  width: 50% !important;
}
.aboutpage .values {
  padding-inline: 13%;
}
.aboutpage .values .title {
  width: -moz-max-content;
  width: max-content;
}
.aboutpage .values .title span {
  font-family: "Merriweather-SemiBold";
  font-size: 45px;
  color: #8f6e43;
}
.aboutpage .values .heading {
  font-family: "Merriweather-Light" !important;
}
.aboutpage .team {
  padding-inline: 13%;
}
.aboutpage .team .title {
  width: -moz-max-content;
  width: max-content;
}
.aboutpage .team .title span {
  font-family: "Merriweather-SemiBold";
  font-size: 45px;
  color: #8f6e43;
}
.aboutpage .approach {
  padding-block: 4%;
  background-color: #8f6e43;
}
.aboutpage .approach h1 {
  font-family: "Merriweather-SemiBold" !important;
  line-height: 50px;
}
.aboutpage .approach p {
  font-family: "Merriweather-Light" !important;
  line-height: 35px;
}
.aboutpage .approach p,
.aboutpage .approach h1 {
  color: white;
}
.aboutpage .testimonials {
  padding-inline: 13%;
}
.aboutpage .testimonials .title {
  width: -moz-max-content;
  width: max-content;
}
.aboutpage .testimonials .title span {
  font-family: "Merriweather-SemiBold";
  font-size: 45px;
  color: #8f6e43;
}
.aboutpage .testimonials p {
  font-size: 20px !important;
  color: black;
  font-family: "Merriweather-Light" !important;
  line-height: 30px;
}
.aboutpage .testimonials .carousel::-webkit-scrollbar-thumb {
  display: flex;
  flex-direction: row;
  background: #ccc;
  border-radius: 4px;
}
.aboutpage .testimonials .video-option {
  flex-shrink: 0;
  width: 120px;
  height: 90px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s;
}
.aboutpage .testimonials .video-option:hover {
  border-color: #ff0000;
}
.aboutpage .testimonials .video-option img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutpage .testimonials .video-option.active {
  border-color: #ff0000;
}/*# sourceMappingURL=about.css.map */