@font-face {
    font-family: "Inter_Regular";
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url("../assets/fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("../assets/fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: "Merriweather-Bold";
    src: url("../assets/fonts/Merriweather_24pt-Bold.ttf");
}

@font-face {
    font-family: "Merriweather-SemiBold";
    src: url("../assets/fonts/Merriweather_24pt-SemiBold.ttf");
}


@font-face {
    font-family: "ArefRuqaa-Regular";
    src: url("../assets/fonts/ArefRuqaa-Regular.ttf");
}