@use '../style/variables.scss' as *;
@use '../style/fonts.scss' as *;

#navBar {
    background-color: $white !important;

    #navbarNav {
        ul {
            padding: 0px 15px;
            gap: 40px;
        }

        #navitem a {
            color: $primary-color;
            font-family: "Inter_Regular";
            font-size: 20px;
        }

        #navitem :hover {
            border-bottom: 3px solid $primary-color-light;
        }

        #navitem.active {
            border-bottom: 3px solid $primary-color-light;
        }
    }
}