@use "../../style/variables.scss" as *;
@use "../../style/fonts.scss" as *;

.testimonials {
  padding-inline: 13%;
  margin-bottom: 2%;
  .title {
    width: max-content;

    span {
      font-family: "Merriweather-SemiBold";
      font-size: 45px;
      color: #8f6e43;
    }
  }

  #para {
    font-size: 20px !important;
    color: black;
    font-family: "Merriweather-Light" !important;
    line-height: 30px;
  }

  .carousel::-webkit-scrollbar-thumb {
    display: flex;
    flex-direction: row;
    background: #ccc;
    border-radius: 4px;
  }

  .video_option {
    flex-shrink: 0;
    width: 120px;
    height: 90px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.3s;
  }

  .video_option:hover {
    border-color: #ff0000;
  }

  .video_option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video_option.active {
    border-color: #ff0000;
  }
}

// --------------------------- Media Query -------------------------------------
// Mobiles
@media (max-width: 767.98px) {
  .testimonials {
    padding-inline: 0%;
    margin-bottom: 2%;
    .title {
      span {
        font-size: xx-large !important;
        border-bottom: 2px solid #8f6e43;
      }
    }

    #para {
      font-size: medium !important;
      line-height: 24px;
      text-align: start !important;
      padding-inline: 8% !important;
      margin-block: 10% !important;
    }

    #carousel {
      width: 95% !important;
      padding-inline: 3% !important;
      margin: 0 auto;
      overflow-x: scroll;
    }

    #main_video {
      width: 100vw !important;
      height: 295px;
      object-fit: contain;
      padding-inline: 3%;
    }

    .video_option {
      width: 20%;
      height: auto;
      cursor: pointer;
    }

    .video_option:hover {
      border-color: #ff0000;
    }

    .video_option img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .video_option.active {
      border-color: #ff0000;
    }
  }
}
