@use "/../src/style/variables.scss" as *;
@use "/../src/style/fonts.scss" as *;

#navBar {
    background-color: transparent !important;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    #navbarNav {
        .border {
            border-radius: 20px;
            // border: 1px solid $primary-color-light !important;
            background-color: $primary-color-light !important;
        }

        ul {
            padding: 0px 15px;
            gap: 15px;
        }

        #navitem a {
            color: #fff;
            font-family: "Merriweather-Regular";
            font-size: 20px;
        }

        #navitem :hover {
            border-bottom: 3px solid white;
        }

        #navitem .active {
            border-bottom: 3px solid white;
        }
    }
}



#mainLogo {
    width: 200px;
    margin-inline: 5%;
}