@use "../../style/variables.scss" as *;
@use "../../style/fonts.scss" as *;

#curriculum {
  padding-inline: 13%;
  .title {
    width: max-content;

    h1 {
      font-family: "Merriweather-SemiBold";
      color: $primary-color;
      border-bottom: $primary-color 3px solid;
    }
  }

  .myCarousel {
    #carouselItem1 {
      background-repeat: no-repeat;
      background-size: cover; // Scales the image to cover the entire area
      background-position: center; // Centers the image
      height: 100vh;

      .dark {
        font-family: "Merriweather-SemiBold" !important;
      }

      .light {
        font-family: "Merriweather-Light" !important;
        font-size: large;
      }
    }

    #carouselItem2 {
      background-repeat: no-repeat;
      background-size: cover; // Scales the image to cover the entire area
      background-position: center; // Centers the image
      height: 100vh;

      .dark {
        font-family: "Merriweather-SemiBold" !important;
      }

      .light {
        font-family: "Merriweather-Light" !important;
        font-size: large;
      }
    }

    #carouselItem3 {
      background-repeat: no-repeat;
      background-size: cover; // Scales the image to cover the entire area
      background-position: center; // Centers the image
      height: 100vh;

      .dark {
        font-family: "Merriweather-SemiBold" !important;
      }

      .light {
        font-family: "Merriweather-Light" !important;
        font-size: large;
      }
    }

    .carousel-indicators [data-bs-target] {
      background-color: $primary-color !important;
    }
  }

  .viewMoreBtn {
    color: $primary-color !important;
    border: 2px $primary-color solid;
    background-color: #fff;
    padding: 9px 39px;

    &:hover {
      color: white !important;
      border: 2px $primary-color solid;
      background-color: $primary-color;
    }
  }
}
