@font-face {
  font-family: "Inter_Regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url("../assets/fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("../assets/fonts/Merriweather-Light.ttf");
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("../assets/fonts/Merriweather_24pt-Bold.ttf");
}
@font-face {
  font-family: "Merriweather-SemiBold";
  src: url("../assets/fonts/Merriweather_24pt-SemiBold.ttf");
}
@font-face {
  font-family: "ArefRuqaa-Regular";
  src: url("../assets/fonts/ArefRuqaa-Regular.ttf");
}
.curriculum {
  padding-inline: 13%;
}
.curriculum .title {
  width: -moz-max-content;
  width: max-content;
}
.curriculum .title h1 {
  font-family: "Merriweather-SemiBold";
  color: #8f6e43;
  border-bottom: #8f6e43 3px solid;
}
.curriculum .myCarousel #carouselItem1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.curriculum .myCarousel #carouselItem1 .dark {
  font-family: "Merriweather-SemiBold" !important;
}
.curriculum .myCarousel #carouselItem1 .light {
  font-family: "Merriweather-Light" !important;
  font-size: large;
}
.curriculum .myCarousel #carouselItem1 .viewMoreBtn {
  margin-top: 2%;
  color: #8f6e43 !important;
  border: 2px #8f6e43 solid;
  background-color: #fff;
  padding: 9px 39px;
}
.curriculum .myCarousel #carouselItem1 .viewMoreBtn:hover {
  color: white !important;
  border: 2px #8f6e43 solid;
  background-color: #8f6e43;
}
.curriculum .myCarousel #carouselItem2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.curriculum .myCarousel #carouselItem2 .dark {
  font-family: "Merriweather-SemiBold" !important;
}
.curriculum .myCarousel #carouselItem2 .light {
  font-family: "Merriweather-Light" !important;
  font-size: large;
}
.curriculum .myCarousel #carouselItem2 .viewMoreBtn {
  color: #8f6e43 !important;
  border: 2px #8f6e43 solid;
  background-color: #fff;
  padding: 9px 39px;
}
.curriculum .myCarousel #carouselItem2 .viewMoreBtn:hover {
  color: white !important;
  border: 2px #8f6e43 solid;
  background-color: #8f6e43;
}
.curriculum .myCarousel #carouselItem3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.curriculum .myCarousel #carouselItem3 .dark {
  font-family: "Merriweather-SemiBold" !important;
}
.curriculum .myCarousel #carouselItem3 .light {
  font-family: "Merriweather-Light" !important;
  font-size: large;
}
.curriculum .myCarousel #carouselItem3 .viewMoreBtn {
  color: #8f6e43 !important;
  border: 2px #8f6e43 solid;
  background-color: #fff;
  padding: 9px 39px;
}
.curriculum .myCarousel #carouselItem3 .viewMoreBtn:hover {
  color: white !important;
  border: 2px #8f6e43 solid;
  background-color: #8f6e43;
}
.curriculum .myCarousel .carousel-indicators [data-bs-target] {
  background-color: #8f6e43 !important;
}

.special h5 {
  font-family: "Merriweather-Regular" !important;
  color: #8f6e43;
}
.special h1 {
  font-family: "Merriweather-SemiBold" !important;
  line-height: 50px;
  color: #8f6e43;
}
.special p,
.special ul li {
  font-family: "Merriweather-Light" !important;
  line-height: 35px;
}/*# sourceMappingURL=curriculum.module.css.map */