@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;


.featuretteDivider {
    opacity: 1;
    border: 1.5px solid $primary-color !important;
    width: 50% !important;
    margin-block: 5%;
}