@use '../../style/variables.scss' as *;
@use '../../style/fonts.scss' as *;


.teamSwiper {

    .swiperSlide {
        width: 35% !important;

        .heading {
            font-family: "Merriweather-SemiBold" !important;
        }

        .jobTitle {
            font-family: "Merriweather-Light" !important;
        }

        #teacherImg {
            width: 400px;
            height: 400px;
            box-shadow: #8f6e43 0px 5px 5px;
        }
    }

    .swiper-slide {
        width: 400px !important;
        height: 400px !important
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black; // Match your theme
        opacity: 0; // Hidden by default
        transition: opacity 0.3s;
    }

    &:hover .swiper-button-next,
    &:hover .swiper-button-prev {
        opacity: 1; // Show on hover
    }

    .swiper-button-prev {
        left: 0px; // Position left
    }

    .swiper-button-next {
        right: 0px; // Position right
    }
}